<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Início</title>
  </head>
  <body>
  	<div th:replace="~{menu :: menu}"></div>
  	
  	<div class="container">
	  	<h1>Olá, mundo!</h1>
	    <h2>Meu nome é Victor Kaell da Cruz Silva</h2>
  	</div>
  </body>
</html>
